<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://${OPENSHIFT_MYSQL_DB_HOST}:${OPENSHIFT_MYSQL_DB_PORT}/hbs</property>
    <property name="hibernate.connection.username">admin5hTsKGF</property>
    <property name="hibernate.connection.password">BjexANa18TY8</property>
    <mapping resource="com/entity/User.hbm.xml"/>
    <mapping resource="com/entity/Blogetiket.hbm.xml"/>
    <mapping resource="com/entity/Etiket.hbm.xml"/>
    <mapping resource="com/entity/Blog.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
